@tailwind base;
@tailwind components;
@tailwind utilities;

.site-header {
    background-color: transparent;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: #fff;
    /* opacity: 0; */
}

header span {
    margin: 0 0 0 20px;
}

.nav-container {
    display: flex;
    gap: 25px;
    width: 60%;
    justify-content: flex-end;
    margin: 0 20px 0 0;
}

nav ul {

    display: flex;
    gap: 15px;
    list-style-type: none;
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

.main-hero {
    background: linear-gradient(to bottom, #4e12af, #1265a9);
    position: relative;
    height: 500px;
    width: 100vw;
    top: 0;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.metallic-orb {
    position: absolute;
    top: 40%;
    left: 70%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle at 40% 40%, #f0f0f0, #611d81 70%, #505050 100%);
    box-shadow: 0px 0px 8px 0px rgb(50 50 50 / 80%);
    animation: float 3s ease-in-out infinite;
}

.home-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    color: #fff;
}